* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #131313;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    /* color: #fff; */
    /* background-color: #fff; */
}

.btn {
    padding: 15px;
}

.active {
    background-color: #fff;
}